# new
.mypy_cache/
__pycache__/
data/
sentence_bert/
make_dataset/
logs/
model/
model2/
Seq_VAE/
T5/
trans_data/
a.py
b.py
c.py
d.py
e.py
f.py

*.pth
*.txt
*.pyc
!requirements.txt

en2ja_translate/
ja2en_translate/