torch==1.12.0
transformers==4.18.0
pytorch-lightning==1.7.4
sentence_transformers==2.2.2

pandas
fugashi
ipadic
torchtyping
scikit-learn
seqeval
mecab-python3
unidic-lite

black
flake8
isort
mypy
pep8-naming
pylint